@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    @apply custom-bg dark:custom-bg flex min-h-screen flex-col
}

.footer {
    @apply custom-bg-headfoot dark:custom-bg-headfoot mt-auto flex h-20 w-full place-content-center items-center border border-gray-100 dark:border-0;
}


.custom-bg, .custom-bg-button, .custom-bg-headfoot {
    background-color: #fff;
}

@media (prefers-color-scheme: dark) {
    .dark\:custom-bg {
        background-color: #222428;
    }
    .dark\:custom-bg-button {
        background-color: #2b2e36;
    }
    .dark\:custom-bg-headfoot {
        background-color: #1e1e22;
    }
}

.brzaguza-bg-pink, .hover\:brzaguza-bg-pink:hover {
    background-color: #ffc8dd;
}

.brzaguza-bg-blue, .hover\:brzaguza-bg-blue:hover {
    background-color: #7dd2ed;
}

.brzaguza-text-pink, .hover\:brzaguza-text-pink:hover {
    color: #ffc8dd;
}

.brzaguza-text-blue, .hover\:brzaguza-text-blue:hover {
    color: #7dd2ed;
}